*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEBUG E REGOLE IN PROVA */

body.debug{
    width: 100vw;
    height: 100vh;
    background-color: darkred;
}

.debug div.side_bar{
    width: 175px;
    height: calc(100% - 100px);
    background-color: black;
}

.debug footer{
    width: 100%;
    height: 100px;
    background-color: darkgoldenrod;
}