*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: darkred;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
}

/* UTILITY */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.flt_lft{
    float: left;
}

.flex{
    display: flex;
}

.txt_s{
    font-size: 10px;
}

.txt_light{
    color: white;
}

.txt_mid_dark{
    color: rgb(125, 127, 132);
}

.txt_dark{
    color: rgb(113, 113, 113);
}

.bold{
    font-weight: 800;
}

i{
    color: white;
}



/* \/\/\/\/\/\/\/\/\/\/\/\/\SITE_BODY/\/\/\/\/\/\/\/\/\/\/\/\/ */


.site_body{
    width: 100%;
    height: calc(100% - 90px);
}


/* --SIDE_BAR--  +  --HEADER-- */

.side_bar{
    width: 230px;
    height: 100%;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0 8px;
}

.logo, .menu_page, .playlist, .bar_footer{
    width: 100%;
}

.container .logo, .container .menu_page{
    margin-bottom: 20px;
}

.logo img{
    height: 40px;
    padding-left: 20px;
}

.side_item{
    padding: 5px 20px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 5px;
}

.side_item img{
    width: 20px;
    margin-right: 5px;
}

.home{
    border-left: 3px solid rgb(173, 255, 47);
}

.search img, .bookshelf img{
    filter: invert(0.5);
}


.new_playlist i{
    vertical-align: middle;
    color: rgb(163, 163, 163);
    font-size: 2rem;
    margin-right: 8px;
}

.new_playlist{
    margin-bottom: 13px;
}




.download{
    width: 100%;
    align-content: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(113, 113, 113);
    vertical-align: middle;
}

.download img{
    width: 14px;
    filter:invert(0.5);
    margin-right: 8px;
}

.user{
    padding-top: 12px;
    align-items: center;
}

.img_profile{
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background-color: rgb(128, 128, 128);
    background-image: url(./img/profile.svg);
    background-size: cover;
    margin-right: 8px;
}

/* /side_bar */


header{
    width: calc(100% - 230px);
    height: 90px;
    background-color: rgb(8, 11, 18);
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    width: 218px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px; 
    margin: 0 30px; 
}

/* /header */


/* --MAIN-- */


main.content{
    width: calc(100% - 230px);
    height: calc(100% - 90px);
    background-color: rgb(20, 25, 34);
}

/* Nav */

nav.menu_content{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

main > nav > div{
    margin: 0 12px;
}



/* .Categories + .categories > section */

.content .categories{
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
}


.categories > section{
    width: 100%;
    padding: 22px 20px;
}

h2{
    font-size: 1rem;
}

.suggestion{
    justify-content: flex-start;
}

.suggestion > div{
    width: calc(100% / 6 - 15px);
    margin: 15px 15px 0 0;
}

.select{
    position: relative;
}

.select > img{
    width: 100%;
}

.select i{
    font-size: 3.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
}

.title{
    font-size: 11px;
}

.title, .suggestion .info{
    text-align: center;
}

.title, .info{
    padding-top: 10px;
}





/* --FOOTER-- */

footer.page_footer{
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    position: relative;
    z-index: 100;
}


.track img{
    width: 42px;
    height: 42px;
}

.song{
    flex-direction: column;
    justify-content: center;
    font-size: 0.5rem;
    padding: 0 10px;
}

.txt_xs{
    font-size: 7px;
}

.preference{
    align-items: center;
    padding: 0 25px;
}

.commands{
    text-align: center;
}

footer i:not(.fa-play-circle, .fa-circle){
    font-size: 0.8rem;
    padding: 0 5px;
}

.commands .fa-play-circle{
    font-size: 1.5rem;
    vertical-align: middle;
    padding: 0 12px;
}

.duration_line{
    align-items: center;
    padding: 15px 0;
}

.time{
    padding: 0 25px;
}

.player .total_line{
    width: 428px;

}

.total_line{
    height: 4px;
    background-color: rgb(90, 90, 90);
    border-radius: 4px;
}

.reproduced{
    width: 20%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(193, 193, 193);
    border-radius: 4px;
}

.reproduced > i{
    color: transparent;
    font-size: 0.7rem;
}

.volume{
    justify-content: space-around;
    align-items: center;
}

.volume i:not(.fa-circle){
    margin: 5px;
}

.volume .total_line{
    width: 118px;
}



/* ----- EFFETTI ----- */

.upgrade:hover{
    transform: scale(120%);
}

.txt_dark:hover, .txt_mid_dark:hover{
    color: white;
}

.txt_xs:hover{
    text-decoration: underline;
}

.search:hover img, .bookshelf:hover img{
    filter: none;
}

.new_playlist:hover i{
    color: white;
}

.select:hover i{
    color: white;
}

.total_line:hover .reproduced{
    background-color: lawngreen;
}

.total_line:hover .reproduced > i{
    color: rgb(193, 193, 193);
}


/* ---RESPONSIVE--- */

@media screen and (max-widt: 1100px){
    
    .suggestion{
        flex-wrap: wrap;
    }
    
    .suggestion > div{
        flex-shrink: 0;
    }
    
}