*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.flt_lft{
    float: left;
}

.flex{
    display: flex;
}

/* DEBUG E REGOLE IN PROVA */

body.debug{
    width: 100vw;
    height: 100vh;
    background-color: darkred;
}


.debug .site_body{
    width: 100%;
    height: calc(100% - 100px);
}



.debug div.side_bar{
    width: 175px;
    height: 100%;
    background-color: black;
}

header{
    width: calc(100% - 175px);
    height: 120px;
    background-color: darkgreen;
}

main.content{
    width: calc(100% - 175px);
    height: calc(100% - 120px);
}

nav.menu_content{
    width: 100%;
    height: 50px;
    background-color: darkslateblue;
}

section.recent{
    width: 100%;
    height: calc(100% - 50px);
    background-color: darkorchid;
}



.debug footer{
    width: 100%;
    height: 100px;
    background-color: darkgoldenrod;
}