*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: darkred;
}

/* UTILITY */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.flt_lft{
    float: left;
}

.flex{
    display: flex;
}



/* \/\/\/\/\/\/\/\/\/\/\/\/\SITE_BODY/\/\/\/\/\/\/\/\/\/\/\/\/ */


.site_body{
    width: 100%;
    height: calc(100% - 90px);
}


/* --SIDE_BAR--  +  --HEADER-- */

.side_bar{
    width: 230px;
    height: 100%;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container{
    padding: 20px;
}

.container .logo, .container .menu_page{
    margin-bottom: 30px;
}

.logo img{
    height: 40px;
}

.side_item{
    color: white;
    font-size: 0.8rem;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 13px;
}

.side_item img{
    width: 22px;
    margin-right: 5px;
}

.playlist{
    color: white;
}

.new_playlist{
    margin-top: 8px;
    margin-bottom: 13px;

}

i{
    color: white;
    font-size: 2rem;
    margin-right: 8px;

}


header{
    width: calc(100% - 230px);
    height: 90px;
    background-color: rgb(8, 11, 18);
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    width: 218px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 0.8rem;
    color: white;
    border: 1px solid white;
    border-radius: 20px; 
    margin: 0 30px; 
}



/* --MAIN-- */


main.content{
    width: calc(100% - 230px);
    height: calc(100% - 90px);
    background-color: rgb(20, 25, 34);
}

/* Nav */

nav.menu_content{
    width: 100%;
    height: 50px;
}


/* .Categories + .categories > section */

.content .categories{
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
}



/* --FOOTER-- */

footer.page_footer{
    width: 100%;
    height: 90px;
    background-color: rgb(40, 40, 40);
    position: relative;
    z-index: 100;
}



/* ----- EFFETTI ----- */

.upgrade:hover{
    transform: scale(120%);

}