*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEBUG E REGOLE IN PROVA */

body{
    width: 100%;
    height: 100%;
    background-color: darkred;
}

div.side_bar{
    width: 175px;
    height: 500px;
    background-color: black;
}

.debug footer{
    width: 100%;
    height: 100px;
    background-color: darkgoldenrod;
}